body {
   background-color: red;
}

header {
   background-color: blue;
   height: 100px;
}

nav {
   background-color: green;
}

section {
   background-color: white;
}

footer {
   background-color: yellow;
}

nav {
   text-align: center;
}

nav ul {
   list-style-type: none;
}

nav ul li {
   display: inline;
   background-color: white;
   padding: 5px;
   text-decoration: none;
}
nav ul li:hover {
   background-color: black;
   padding: 5px;
   text-decoration: underline;
}